@use "../util" as *;
button {
    padding: rem(10) rem(45);
    font-family: var(--font-body);
    border-radius: rem(12);
    font-size: rem(20);
    font-weight: 800;
    transition: 0.2s;
    margin: rem(10);
    &:hover {
        cursor: pointer;
    }
    @include breakpoint-down(medium) {
        font-size: rem(18);
        padding: rem(8) rem(40);
        margin: rem(1);
    }
}
button.main {
    background-color: var(--pink);
    color: var(--white);
    border-style: none;
    border-width: 0;
    &:hover {
        background-color: var(--pink-darker);
    }
}
button.second {
    background-color: transparent;
    border-color: var(--pink);
    color: var(--pink);
    border-style: solid;
    border-width: rem(1);
    &:hover {
        border-color: var(--pink-darker);
        color: var(--pink-darker);
    }
}

@mixin hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  
  .no-scrollbar {
    @include hide-scrollbar;
  }
  