@use "../util" as *;
header {
    padding: rem(150);
    background-image: url("/src/images/background.webp");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    article {
        text-align: center;
        max-width: rem(500);
    }
}
