@use "../util" as *;
.hero {
    padding-top: rem(90);
    padding-bottom: rem(45);
    background-image: url("/src/images/background.webp");
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: left;
    article {
        text-align: center;
        max-width: rem(500);
        button {
            margin-top: rem(25);
        }
    }
    @include breakpoint(medium) {
        padding-top: rem(200);
        padding-bottom: rem(180);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@mixin hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  
  .no-scrollbar {
    @include hide-scrollbar;
  }
  