@use "../util" as *;
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        img {
            width: rem(65);
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: rem(300);

        li {
            list-style: none;
            justify-self: left;
        }
    }
    @include breakpoint-down(medium) {
        padding: 0;
        ul {
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
    }
}
