@use "../util" as *;
.downloads-versions {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: rem(25);
    justify-content: space-between;
    padding: rem(20);
    a {
        font-weight: 200;
    }
    li {
        justify-self: auto;
        color: var(--white);
        font-family: var(--font-body);
        font-weight: 800;
    }
    div {
        display: flex;
        justify-content: space-around;
        min-width: rem(205);
    }
}
.downloads-container {
    display: flex;
    margin-bottom: rem(50);
    table {
        border-collapse: collapse;
        border-spacing: 0;
        thead {
            background-color: var(--light-background);
        }
        tbody {
            td:nth-child(2) {
                color: var(--blue) !important;
            }
            tr:nth-child(1n) {
                background-color: var(--background);
            }
            tr:nth-child(2n) {
                background-color: var(--light-background);
            }
        }
    }
    td,
    th {
        padding: rem(20) rem(50);
    }
    a {
        background-color: var(--blue);
        padding: rem(10) rem(45);
        font-family: var(--font-body);
        border-radius: rem(12);
        font-size: rem(15);
        font-weight: 800;
        transition: 0.2s;
        margin: rem(10);
        color: var(--white);
        &:hover {
            background-color: var(--blue-darker);
            cursor: pointer;
        }
    }

    @include breakpoint-down(medium) {
        table {
            th {
                display: none;
            }
            thead {
                display: none;
            }
            td {
                display: flex;
            }

            td::before {
                content: attr(label);
                font-weight: bold;
                width: 120px;
                min-width: 120px;
            }
        }
    }
}
