@use "../util" as *;
.features {
    header {
        margin: rem(120) 0;
    }
    .feature-container {
        display: flex;
        flex-direction: column;
        row-gap: rem(110);
        @include breakpoint(large) {
            row-gap: rem(150);
        }
        p {
            max-width: rem(600);
        }
        section {
            display: flex;
            flex-direction: column;
            text-align: center;
            @include breakpoint(large) {
                flex-direction: row;
                text-align: left;
            }
            justify-content: space-around;
            align-items: center;
            img {
                max-width: rem(300);
                margin-right: rem(50);
                display: none;
                @include breakpoint(large) {
                    display: block;
                }
            }
            p,
            h4,
            button {
                margin-left: 0;
            }
        }
    }
}
