:root {
    --pink: hsl(330, 93%, 65%);
    --pink-darker: hsl(330, 93%, 50%);
    --background: hsl(202, 22%, 10%);
    --light-background: hsl(210, 5%, 17%);
    --gray: hsl(0, 0%, 85%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    //GRADIENT
    --gradient-pink1: hsl(330, 90%, 53%);
    --gradient-pink2: hsl(330, 97%, 71%);
}

  