:root {
    --blue: hsl(199, 93%, 65%);
    --background: hsl(202, 22%, 10%);
    --gray: hsl(0, 0%, 85%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    //GRADIENT
    --gradient-blue1: hsl(199, 90%, 53%);
    --gradient-blue2: hsl(199, 97%, 71%);
}
