{% extends 'partials/layout.twig' %}
{% set title = 'Sharkur - Downloads' %}
{% set url = 'soon.soon.soon' %}
{% set description = 'SharkurMC is a Minecraft software organization that focuses on improving performance and greater configurability.' %}
{% block content %}
<main>
    <header class="hero">
        <article>
            <h1>Downloads</h1>
            <button class="second" onclick="window.open('https://sharkurmc.github.io/docs/','_blank')">Documentation</button>
        </article>
    </header>
    <article class="container downloads-container">
        <table>
            <thead>
                <tr>
                    <th>Download</th>
                    <th>?ID?</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">Download</a></td>
                    <td>G4X1</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Autem, molestiae?
                    </td>
                    <td>1.4.2022</td>
                </tr>
                <tr>
                    <td><a href="">Download</a></td>
                    <td>FGx51</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Autem, molestiae?
                    </td>
                    <td>1.4.2022</td>
                </tr>
                <tr>
                    <td><a href="">Download</a></td>
                    <td>XIe32</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Autem, molestiae?
                    </td>
                    <td>1.4.2022</td>
                </tr>
            </tbody>
        </table>
    </article>
</main>


{% endblock %}