{% extends 'partials/layout.twig' %}
{% set title = 'IceCream - Downloads' %}
{% set url = 'https://icecreammc.xyz/downloads' %}
{% set description = 'IceCream is a fork of Purpur adding new configurations!' %}
{% block content %}
	<main>

		<header class="hero">
			<article>
				<h1>Downloads</h1>
				<button class="second" onclick="window.open('https://github.com/repos/IceCreamMC/IceCream/releases/latest/download/IceCream-paperclip-1.21-R0.1-SNAPSHOT-mojmap.jar','_blank')">Download Latest Release</button>
			</article>
		</header>
		<div class="container">
			<div id="content" class="row"></div>
		</div>

	</main>


{% endblock %}
{% block script %}
	<script type="module" src="/src/js/script.js"></script>
{% endblock %}
