{% extends 'partials/layout.twig' %}
{% set title = 'Sharkur - Downloads' %}
{% set url = 'https://sharkurmc.rgarlic.eu/downloads' %}
{% set description = 'SharkurMC is a Minecraft software organization that focuses on improving performance and greater configurability.' %}
{% block content %}
	<main>

		<header class="hero">
			<article>
				<h1>Downloads</h1>
				<button class="second" onclick="window.open('https://sharkurmc.github.io/docs/','_blank')">Documentation</button>
			</article>
		</header>
		<div class="container">
			<div id="content" class="row"></div>
		</div>

	</main>


{% endblock %}
{% block script %}
	<script type="module" src="/src/js/script.js"></script>
{% endblock %}
