{% extends 'partials/layout.twig' %}
{% set title = 'Sharkur - Home' %}
{% set url = 'soon.soon.soon' %}
{% set description = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nulla.' %}
{% block content %}
<main>
    <header>
        <article>
            <h1>Sharkur</h1>
            <p>{{ description }}</p>
            <button class="main">Downloads</button>
            <button class="second">Documentation</button>
        </article>
    </header>
    <article class="container">
        <h2>Features</h2>
        <h3>Why use this fork?lol</h3>
        <section>
            <img src="/src/images/document.svg" alt="document icon" />
            <div>
                <h3>Lorem, ipsum.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Explicabo, obcaecati.
                </p>
                <button>Documentation</button>
            </div>
        </section>
        <section>
            <img src="/src/images/open-source.svg" alt="open source" />
            <div>
                <h3>Lorem, ipsum dolor.</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quod et dolor dolorem tempore quam voluptatem autem vel sed
                    consequuntur fuga!
                </p>
                <button>GitHub</button>
            </div>
        </section>
    </article>
    <article>
        <h2>Support us</h2>
        <h3>support our work and help us grow</h3>
        <button>ko-fi.com/garlicteam</button>
    </article>
</main>
{% endblock %}