{% extends 'partials/layout.twig' %}
{% set title = 'Sharkur - Home' %}
{% set url = 'soon.soon.soon' %}
{% set description = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nulla.' %}
{% block content %}
<main>
    <header class="hero">
        <article>
            <h1>Sharkur</h1>
            <p>{{ description }}</p>
            <button class="main">Downloads</button>
            <button class="second">Documentation</button>
        </article>
    </header>
    <article class="features container">
        <header>
            <h2>Features</h2>
            <h3>Why use this fork?lol</h3>
        </header>
        <section class="feature-container">
            <section>
                <img src="/src/images/document.svg" alt="document icon" />
                <div>
                    <h4>Lorem, ipsum.</h4>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Explicabo, obcaecati.
                    </p>
                    <button class="main">Documentation</button>
                </div>
            </section>
            <section>
                <div>
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod et dolor dolorem tempore quam voluptatem autem vel sed
                        consequuntur fuga!
                    </p>
                    <button class="main">GitHub</button>
                </div>
                <img src="/src/images/open-source.svg" alt="open source" />
            </section>
        </section>
    </article>
    <article class="support-container">
        <h2>Support us</h2>
        <h3>Support Our Work And Help Us Grow</h3>
        <button>ko-fi.com/garlicteam</button>
    </article>
</main>
{% endblock %}