@use "../util" as *;

h1,
h2,
h3,
h4 {
    margin-top: 0;
    line-height: 1.2;
    font-family: var(--font-body);
    color: var(--white);
}

p {
    font-family: var(--font-body);
    color: var(--gray);
    font-size: rem(20);
    font-weight: 300;
    line-height: 1.3;
    margin: rem(5);
}

h1 {
    font-size: rem(85);
}

a,
a:visited,
a:active {
    text-decoration: none;
    font-family: var(--font-body);
    color: var(--white);
}
